[submodule "kindle"]
	path = kindle
	url = https://bitbucket.org/pproc/kindle-conversion-algorithm.git
[submodule "subtitles"]
	path = subtitles
	url = https://bitbucket.org/pproc/subtitle-generator.git
[submodule "parser"]
	path = parser
	url = https://bitbucket.org/pproc/server-response-parser.git
